{% extends "base.html" %}

{% block main %}
<h1>Our Chefs</h1>
<p>
  <a href="{% url 'menu:chef_create' %}">+ Add Chef</a>
</p>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  {% for chef in chefs %}
  <tr>
    <td>
      <a href="{% url 'menu:chef_detail' chef.pk %}">{{ chef }}</a>
    </td>
    <td>
      {{ chef.location }}
    </td>
    <td>
      <a href="{% url 'menu:chef_update' chef.pk %}">Edit</a> |
      <a href="{% url 'menu:chef_delete' chef.pk %}">Delete</a>
    </td>
    {% comment %}
    {% endcomment %}
  </tr>
  {% endfor %}
</table>
{% endblock main %}