{% extends "base.html" %}

{% block main %}
<main>
  <h1>{{ location }}</h1>
  <p>
    Opened on:
    {{ location.open_date|date:"M d, Y" }}
  </p>
  <h2>Chefs at this location</h2>
  <ul>
    {% for chef in chefs %}
    <li>{{ chef }}</li>
    {% empty %}
    <li>no chefs at this location</li>
    {% endfor %}
  </ul>
  
  <h2>Items at this location</h2>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% empty %}
    <li>no chefs at this location</li>
    {% endfor %}
  </ul>
  
</main>
{% endblock main %}