{% extends "base.html" %}

{% block main %}
<h1>All Menu Items</h1>
<a href="{% url 'menu:menu_item_create' %}">+ Add Item</a>

<input type="search" name="q" placeholder="Search item by chef" hx-trigger="keyup changed delay:300ms"
  hx-target="#car-results" hx-swap="innerHTML">

<div id="item-results">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Chef</th>
      <th>Available Locations</th>
      <th>Actions</th>
    </tr>
    {% for item in items %}
    <tr id="item-{{ item.pk }}">
      <td>{{ item.name }}</td>
      <td>${{ item.price }}</td>
      <td>{{ item.chef }}</td>
      <td>
        <ul>
          {% for location in item.locations.all %}
          <li>
            <a href="{% url 'menu:location_detail' location.pk %}">
              {{ location.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <a href="{% url 'menu:menu_item_update' item.pk %}">Edit</a> |
        <a href="{% url 'menu:menu_item_delete' item.pk %}">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No cars found.</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock main %}