{% extends 'static_pages_templates/base.html' %}
{% load static %}

{% block theme %}
data-theme="luxury"
{% endblock %}

{% block title %}Services{% endblock %}

{% block h1 %}Our Services{% endblock %}
{% block h2 %}Simple and Reliable{% endblock %}
{% block p %}We offer the following services{% endblock %}

{% block main %}

<ul>
    <li>Web Development</li>
    <li>Mobile App Development</li>
    <li>UI/UX Design</li>
    <li>SEO Optimization</li>
    <li>Technical Support</li>
</ul>

{% endblock %}